<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Webpack Boilerplate </title>

    <!-- Imports Stylesheets -->
    <% htmlWebpackPlugin.files.css.forEach(function(file){ %>
        <link href="<%- file %>" rel="stylesheet">
    <% }); %>
</head>

<body>
    
    <div class="page">
        <header class="header">
            <h1 class="header__Title"> Betting Office </h1>
        </header>
        <main class="main">
            <div class="BreadCrumb">
                <div class="BreadCrumb__Step --active">
                    <span class="BreadCrumb__Step-Name"> Select Race </span> 
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Select Slug </span> 
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Select Bet </span> 
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Race Overview </span> 
                </div>
            </div>
            <div class="Selection">
                <h2 class="Selection__Title"> Race Selection </h2>
                <div class="Race">
                    <h3 class="Race__Title"> Race1 Title </h3>
                    <p class="Race__Description"> Race Description Lorem Ipsum sorom delim </p>
                    <p class="Race__Goal"> Goal: <span class="Race__Goal-Units"> 30 </span> Units </p>
                    <p class="Race__Multiplier"> Win Multiplier: <span class="Race__Win-Multiplier"> x2 </span> </p>
                    <button> Select Race </button>
                </div>
                <div class="Race">
                    <h3 class="Race__Title"> Race1 Title </h3>
                    <p class="Race__Description"> Race Description Lorem Ipsum sorom delim </p>
                    <p class="Race__Goal"> Goal: <span class="Race__Goal-Units"> 30 </span> Units </p>
                    <p class="Race__Multiplier"> Win Multiplier: <span class="Race__Win-Multiplier"> x2 </span> </p>
                    <button> Select Race </button>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer">
        <h1 class="footer__Title"> Thanks for choosing us once again </h1>
    </footer>

    <!-- Imports Scripts -->
    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
        <script src="<%- file %>"></script>
    <% }); %>
</body>

</html>
