<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Webpack Boilerplate </title>

    <!-- Imports Stylesheets -->
    <% htmlWebpackPlugin.files.css.forEach(function(file){ %>
    <link href="<%- file %>" rel="stylesheet">
    <% }); %>
</head>

<body>
    <div class="page">
        <header class="header">
            <h1 class="header__Title"> Betting Office </h1>
            <h2 class="Balance"> <span class="balanceInner">600</span>$ </h2>
        </header>
        <main class="main">

            <!-- Breadcrumb Navigation displaying current Step -->
            <div class="BreadCrumb">
                <div id="step1" class="BreadCrumb__Step --active">
                    <span class="BreadCrumb__Step-Name"> Select Race </span>
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div id="step2" class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Select Slug </span>
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div id="step3" class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Select Bet </span>
                    <span class="BreadCrumb__Arrow"> > </span>
                </div>
                <div id="step4" class="BreadCrumb__Step">
                    <span class="BreadCrumb__Step-Name"> Race Overview </span>
                </div>
            </div>

            <!-- Selections for BreadCrumb Navigation -->


            <div id="select1" class="selection"> <!-- Selection for Step 1 -->
                <div class="selection__itemContainer">
                    <section id="race1" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Forest Race </span> </h3>
                        <p class="item__field"> Goal: <span class="value"> 60 </span> </p>
                        <button onClick="select(1, 'Race', 'Forest')" class="item__button"> Choose Forest Race </button>
                    </section>
                    <section id="race2" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Hill Race </span> </h3>
                        <p class="item__field"> Goal: <span class="value"> 35 </span> units </p>
                        <button onClick="select(1, 'Race', 'Hill')" class="item__button"> Choose Hill Race </button>
                    </section>
                </div>
            </div>

            <div id="select2" class="selection"> <!-- Selection for Step 2 -->
                <div class="selection__itemContainer">
                    <section id="slug1" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Forest Slug </span> </h3>
                        <p class="item__field"> Speed: <span class="value"> 8 </span> </p>
                        <button onClick="select(2, 'Slug', 'Forest')" class="item__button"> Choose Forest Slug </button>
                    </section>
                    <section id="slug2" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Hill Slug </span> </h3>
                        <p class="item__field"> Speed: <span class="value"> 5 </span> </p>
                        <button onClick="select(2, 'Slug', 'Hill')" class="item__button"> Choose Hill Slug </button>
                    </section>
                    <section id="slug3" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Desert Slug </span> </h3>
                        <p class="item__field"> Speed: <span class="value"> 3 </span> </p>
                        <button onClick="select(2, 'Slug', 'Hill')" class="item__button"> Choose Desert Slug </button>
                    </section>
                    <section id="slug4" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Cave Slug </span> </h3>
                        <p class="item__field"> Speed: <span class="value"> 12 </span> </p>
                        <button onClick="select(2, 'Slug', 'Hill')" class="item__button"> Choose Cave Slug </button>
                    </section>
                </div>
            </div>
            <div id="select3" class="selection"> <!-- Selection for Step 3 -->
                <div class="selection__itemContainer">
                    <section id="bet1" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Low Bet </span> </h3>
                        <p class="item__field"> Amount: <span class="value"> 120 </span> €  </p>
                        <button onClick="select(3, 'Bet', 'Low')" class="item__button"> Choose Low Bet </button>
                    </section>
                    <section id="bet2" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Medium Bet </span> </h3>
                        <p class="item__field"> Amount: <span class="value"> 300 </span> €  </p>
                        <button onClick="select(3, 'Bet', 'Low')" class="item__button"> Choose Low Bet </button>
                    </section>
                    <section id="bet3" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> High Bet </span> </h3>
                        <p class="item__field"> Amount: <span class="value"> 410 </span> €  </p>
                        <button onClick="select(3, 'Bet', 'High')" class="item__button"> Choose High Bet </button>
                    </section>
                    <section id="bet4" class="selection__item item">
                        <h3 class="item__title"> <span class="value"> Max Bet </span> </h3>
                        <p class="item__field"> Amount: <span class="value"> 600 </span> €  </p>
                        <button onClick="select(3, 'Bet', 'High')" class="item__button"> Choose Max Bet </button>
                    </section>
                </div>
            </div>
            <div id="select4" class="selection"> <!-- Selection for Step 4 -->
                <div class="selection__itemContainer">
                    <section class="selection__item item">
                        <p class="item__field"> Race: ... </p>
                        <p class="item__field"> Slug: ... </p>
                        <p class="item__field"> Bet: ... </p>
                        <button onClick="select(4, 'Overview', 'Start')" class="item__button"> Start Race </button>
                    </section>
                </div>
            </div>

            <!-- Actual div to hold an active Race -->
            <div class="raceContainer">
                <div id="game">
                    <h1> ACTIVE RACE </h1>
                </div>
                <div class="finishLine" />
            </div>
        </main>
    </div>

    <footer class="footer">
        <h1 class="footer__Title"> Thanks for choosing us once again </h1>
    </footer>

    <!-- Imports Scripts -->
    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
    <script src="<%- file %>"></script>
    <% }); %>
</body>

</html>