<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Webpack Boilerplate </title>

    <!-- Imports Stylesheets -->
    <% htmlWebpackPlugin.files.css.forEach(function(file){ %>
        <link href="<%- file %>" rel="stylesheet">
    <% }); %>
</head>

<body>
    <header>
        
        <div class="Panel">
            <caption class="Title"> Selection Panel </caption>
            <button onclick="panelClick('Race')" class="Button"> Select Race </button>
            <button onclick="panelClick('Slug')" class="Button"> Select Slug </button>
            <button onclick="panelClick('Bet')" class="Button"> Select Bet </button>
        </div>

        <div class="Panel Panel__Race">
            <caption class="Title"> Select Race </caption>
            <div class="Panel Panel__Race--Select">
                <h2> Desert Race </h2>
                <p> Goal: 40 </p>
            </div>
            <div class="Panel Panel__Race--Select">
                <h2> Forest Race </h2>
                <p> Goal: 30 </p>
            </div>
            <div class="Panel Panel__Race--Select">
                <h2> Cave Race </h2>
                <p> Goal: 20 </p>
            </div>
        </div>

        <div class="Panel Panel__Slug">
            <caption class="Title"> Select Slug </caption>
            <div class="Panel Panel__Slug--Select">
                <h2> Desert Slug </h2>
                <p> Speed: 4 </p>
            </div>
            <div class="Panel Panel__Slug--Select">
                <h2> Forest Slug </h2>
                <p> Speed: 3 </p>
            </div>
            <div class="Panel Panel__Slug--Select">
                <h2> Cave Slug </h2>
                <p> Speed: 2 </p>
            </div>
        </div>

        <div class="Panel Panel__Bet">
            <caption class="Title"> Select Bet </caption>
            <div class="Panel Panel__Bet--Select">
                <h2> Low Bet </h2>
                <p>  Bet: 120$  </p>
            </div>
            <div class="Panel Panel__Bet--Select">
                <h2> Medium Bet </h2>
                <p>  Bet: 400$  </p>
            </div>
            <div class="Panel Panel__Bet--Select">
                <h2> High Bet </h2>
                <p>  Bet: 860$  </p>
            </div>
        </div>

    </header>

    <!-- Imports Scripts -->
    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
        <script src="<%- file %>"></script>
    <% }); %>
</body>

</html>
