@import "./reset";
@import "./borders";

body {
    color: whitesmoke;
    font-size: 1.1rem;
    background: rgb(66, 66, 66);
    min-height: 100%;
    max-width: 1200px;
}

.page {
    min-height: 100vH;
}

.main {
    padding: 0
}

@import "./header";
@import "./footer";
@import "./breadcrumb";
@import "./selection";