@import "./reset";
@import "./borders";

body {
    color: whitesmoke;
    font-size: 1.1rem;
    background: rgb(66, 66, 66);
    @include shiny-boder-blue;
    min-height: 100%;
    max-width: 800px;
}

.page {
    min-height: 100vH;
}

.header {
    background-color: rgba(23, 35, 77, 0.589);
    padding: 5px;

    &__Title {
        padding: 2px 8px;
        font-size: 1.8rem;
        letter-spacing: 2px;
        color: rgb(202, 213, 255);
        text-shadow: 2px 2px 2px rgb(177, 177, 177);
        text-align: right;
    }
}

.main {
    padding: 0
}

.footer {
    position: relative;
    margin-top: -49px;
    padding: 10px 14px;
    font-size: 0.8rem;
    background-color: rgba(16, 21, 41, 0.589);
    text-shadow: 2px 2px 2px rgb(177, 177, 177);
    text-align: center;
}

@import "./breadcrumb";