#select2, #select3, #select4, #game {
    display: none;
}

.selection {
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(18,18,18);
    background: linear-gradient(45deg, rgba(18,18,18,1) 0%, rgba(102,102,102,0.9105781961221989) 100%);

    &__item {
        padding: 4px 10px;
        margin-top: -1px;
        background: rgba(27, 23, 23, 0.678);
        box-shadow: inset 0 0 2px 1px rgb(134, 211, 221);
    }

    .item {
        &__button {
            width: 100%;
            margin-bottom: 4px;
            border: 1px solid rgb(174, 210, 233);
            background-color: rgb(59, 84, 90);
            transition: .2s;

            &:hover {
                color: rgb(235, 235, 235);
                border: 1px solid rgb(189, 223, 245);
                background-color: rgb(77, 114, 124);                
            }

            &:active {
                color: rgb(255, 255, 255);
                border: 1px solid rgb(218, 239, 253);
                background-color: rgb(133, 178, 190);                
            }
        }
    }
}

/*
#select1 {

    #race1 {

    }
    #race2 {

    }

}
#select2 {

    #slug1 {

    }
    #slug2 {

    }

}
#select3 {
    #bet1 {

    }
    #bet2 {

    }

}
#select4 {

}
*/




